SERPER_SEARCH_API_KEY=YOUR_SERPER_SEARCH_API_KEY
GOOGLE_SHARED_CALENDAR_ID=YOUR_GOOGLE_CALENDAR_ID
LATITUDE=52.52
LONGITUDE=13.41
MAX_CHAT_ITERATIONS=6
MODEL=llama3.1:8b-instruct-q4_0
NUM_GPU=15
TIMEZONE="Europe/Berlin"
